._Mcontainer_Fro {
  margin: 40px 150px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 4px 7px rgba(60, 58, 58, 0);
  overflow: scroll;
}
._Mcontainer_Frompr {
  margin: 0 30px;
}
._title_addproduct {
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  color: black;
  line-height: 29px;
  padding-top: 50px;
}

._nameInputrow1 {
  width: 100%;
}
._text_product {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
  color: black;
  line-height: 29px;
}
.tox-statusbar__branding {
  display: none !important;
}
.tox-statusbar__path-item {
  display: none !important;
}

._nameInputrow {
  width: 35%;
}
._buttonClick_Product {
  display: flex;
  justify-content: flex-end;
}
.__buttonClick_Product_Res {
  margin: 30px 80px;
  width: 20%;

  border-radius: 3px !important;
  background-color: #dcdfe8 !important;
}
.__buttonClick_Product_add {
  margin: 30px 0;
  width: 20%;

  border-radius: 3px !important;
  background-color: #87ceeb99 !important;
}
._Title_button_product {
  margin-top: -3px;
  text-align: centers;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 29px;
}
