body {
  background-color: none !important;
  background: #dcdfe8;
}
._forgot_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
._forgot_title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Open Sans";
}
._forgotInputnew_container {
  margin: 0 200px;
}
._forgotInputnew {
  width: 631px;
  height: 48px;
  background-color: white;
  padding: 0 20px;
}
._forgotInputnewres {
  margin-top: 30px;
  width: 631px;
  height: 48px;
  background-color: white;
  padding: 0 20px;
}
._forgotbuttonnew {
  margin-top: 20px;
  width: 664px !important;
  height: 48px !important;
  background: #87ceeb !important;
}
