body {
  background-color: none !important;
  background: #dcdfe8;
}
._forgot_container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
._forgot_title {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  font-family: "Open Sans";
}
._forgotInputnew_container {
}
._forgotInputnew {
  width: 631px;
  height: 60px;
  background-color: white;
}
._forgotInputnewres {
  width: 631px;
  height: 60px;
  background-color: white;
}
