.ant-table-pagination {
  display: none !important    ;
}
.input_Container {
  display: flex;
  margin: 0 140px;
  margin-top: 80px;
}
.input_sc {
  width: 800px;
  height: 48px;
  border-radius: 3px !important;
  border-color: rgba(0, 0, 0, 0.6);
  padding: 0 10px;
}
.button_sc {
  width: 250px;
  height: 48px !important;
  margin-left: 54px !important;
  border-radius: 10px !important;
  background-color: #87ceeb !important;
  border-color: transparent;
}
.title_sc {
  color: black !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 7px;
}

table {
  text-align: center !important;
}
table th,
table td {
  text-align: center !important;
}
